.conteudo-principal {
    padding: 15px;

    display: flex;
    flex-direction: column;
}

.conteudo-topo {
    display: flex;
    justify-content: start;
    
    margin-bottom: 10px;

    width: 100%;
}

.conteudo-pagina {
    background-color: var(--cor-background-principal-1);
    box-shadow: var(--sombra-container);
    height: 100%;
    width: 100%;
    padding: 10px;
}

.conteudo-pagina {
    display: none;
}

.conteudo-pagina.ativo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo-pagina-formulario {
    display: flex;
    gap: 20px;
}

.conteudo-pagina hr {
    border-color: var(--cor-fonte-cinza);
    margin-bottom: 15px;
    margin-top: 15px;
}

.formulario-campo input,
.formulario-campo select {
    height: 30px;
}

.formulario-descricao {
    margin-bottom: 5px;
}

.formulario-descricao label {
    font-size: 13px;
    margin-right: 5px;
}

.formulario-descricao i {
    font-size: 10px;
}

.conteudo-pagina-rodape {
    padding: 20px;

    display: flex;
    justify-content: end;
}