<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a senha</title>

    <link rel="stylesheet" href="../../assets/css/janela/janela_tipo_ambiente.css">
</head>
<body>
    <div class="container-tipo-ambiente">
        <h3>Você está utilizando o ambiente de <span class="destaque destaque-1">HOMOLOGAÇÃO</span></h3>
        
        <p>
            <strong class="destaque">Descrição:</strong>
            Este ambiente é destinado exclusivamente para testes e validações.
            Aqui, você pode simular funcionalidades, realizar verificações de
            dados e executar cenários de uso sem impactar o ambiente de produção.
            <br><br>
            <strong class="destaque">Objetivo:</strong>
            Garantir que as funcionalidades implementadas ou atualizadas estejam
            funcionando conforme o esperado antes de serem disponibilizadas aos
            usuários finais.
            <br><br>
            <strong class="destaque">Uso:</strong>
            Testes de novas funcionalidades, integração de sistemas, ajustes de
            dados e validações realizadas pela equipe de desenvolvimento ou
            homologação.
            <br><br>
            <strong class="destaque destaque-1">Atenção:</strong>
            Os dados nesse ambiente podem ser fictícios ou uma cópia parcial do
            ambiente de produção e podem ser resetados ou alterados sem aviso
            prévio.
            <br><br>
            <strong class="destaque destaque-2">Importante:</strong>
            As ações realizadas neste ambiente <strong>não refletem</strong>
            no sistema de produção. Utilize este espaço para testar com
            segurança e tranquilidade.
        </p>

    </div>
</body>
</html>