<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cópias</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/modal/modal.css">
    <link rel="stylesheet" href="../assets/css/preview/componentes.css">
    <link rel="stylesheet" href="../assets/css/copias.css">
</head>
<body>
    <div class="container-menu">
        <div>
            <div class="imagem-menu">
                <a href="home.html"><img src="../assets/img/PrintSynk - Logo + Nome [menu].png" alt="" width="100px"></a>
            </div>

            <nav class="navegacao-menu">
                <hr>
                <div class="categoria-menu">
                    <h5>Funções</h5>
                    <a href="" class="menu-item pagina-ativa">
                        <div>
                            <i class="fa-solid fa-copy"></i>Cópias
                        </div>
                        <div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>

                    <a href="relatorio.html" class="menu-item">
                        <div>
                            <i class="fa-solid fa-print"></i>Relatório
                        </div>
                        <div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>
                </div>

                <hr>

                <div class="categoria-menu">
                    <h5>Administração do Sistema</h5>

                    <a href="disciplinas.html" class="menu-item">
                        <div>
                            <i class="fa-solid fa-book"></i>Disciplinas
                        </div>
                        <div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>

                    <a href="funcionarios.html" class="menu-item">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>Funcionários
                        </div>
                        <div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>
                    
                    <a href="turmas.html" class="menu-item">
                        <div>
                            <i class="fa-solid fa-graduation-cap"></i>Turmas
                        </div>
                        <div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>

                    <a href="usuarios.html" class="menu-item">
                        <div>
                            <i class="fa-solid fa-users"></i>Usuários
                        </div>
                        <div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>
                    
                </div>
            </nav>
        </div>
        
        <div class="rodape-menu">
            
            <h5 onclick="janelaTipoAmbiente()" title="Homologação">Homol</h5>
        </div>
    </div>

    <main class="container-principal">
        <div class="cabecalho-principal">
            <div class="cabecalho-notificacao">
                <a href="" id="modalCabecalho"><i class="fa-solid fa-bell"></i></a>
            </div>

            <div class="cabecalho-usuario">
                <h5>Nome do usuário</h5>
                <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                <a href="login.html" id="modalSair" ><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </div>
        
        <div class="conteudo-principal">
            <div class="conteudo-topo">
                <select name="" id="seletor">
                    <option value="atividade">Atividade</option>
                    <option value="funcionario">Funcionário</option>
                </select>
            </div>

            <form class="conteudo-pagina atividade">
                <div>
                    <h3>Cadastro de cópias de atividade</h3>
                    <hr>

                    <div class="conteudo-pagina-formulario">
                        <div class="formulario-campo">
                            <div class="formulario-descricao">
                                <label for="">Turma *</label>
                                <i title="" class="fa-solid fa-circle-info"></i>
                            </div>
                            <select name="" id="">
                                <option value="">---</option>
                                <option value="">Turma 1</option>
                                <option value="">Turma 2</option>
                                <option value="">Turma 3</option>
                            </select>
                        </div>

                        <div class="formulario-campo">
                            <div class="formulario-descricao">
                                <label for="">Disciplina *</label>
                                <i title="" class="fa-solid fa-circle-info"></i>
                            </div>
                            <select name="" id="">
                                <option value="">---</option>
                                <option value="">Disciplina 1</option>
                                <option value="">Disciplina 2</option>
                                <option value="">Disciplina 3</option>
                            </select>
                        </div>

                        <div class="formulario-campo">
                            <div class="formulario-descricao">
                                <label for="">Quantidade Cópias *</label>
                                <i title="" class="fa-solid fa-circle-info"></i>
                            </div>
                            <input type="number" min="1">
                        </div>

                        <div class="formulario-campo">
                            <div class="formulario-descricao">
                                <label for="">Solicitação</label>
                                <i title="" class="fa-solid fa-circle-info"></i>
                            </div>
                            <select name="" id="">
                                <option value="">---</option>
                                <option value="">Departamento 1</option>
                                <option value="">Departamento 2</option>
                                <option value="">Departamento 3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="conteudo-pagina-rodape">
                    <button class="botao-principal">Cadastrar</button>
                </div>
            </form>

            <div class="conteudo-pagina funcionario">
                <div class="conteudo-pagina-formulario">

                </div>
            </div>
        </div>
    </main>
    
    <!-- Modal Cabeçalho -->
    <div class="modal" id="modal_cabecalho" >
        <div class="modal-conteudo">
            <p>
                Esta função ainda não está disponível.
            </p>
            <div class="modal-rodape">
                <a href="" id="modal_cabecalho_fechar" class="botao-principal">Fechar</a>
            </div>
        </div>
    </div>

    <!-- Modal Sair -->
    <div class="modal" id="modal_sair" >
        <div class="modal-conteudo">
            <p>
                Tem certeza que deseja sair?
            </p>
            <div class="modal-rodape">
                <button id="modal_sair_fechar" class="botao-secundario">Cancelar</button>
                <a href="login.html" class="botao-principal">Sair</a>
            </div>
        </div>
    </div>

    <script src="../assets/js/janela/janela_tipo_ambiente.js"></script>
    <script src="../assets/js/modal/modal_cabecalho.js"></script>
    <script src="../assets/js/modal/modal_sair.js"></script>

    <script>
        // Seleciona o elemento <select> e as divs de conteúdo
        const seletor = document.getElementById('seletor');
        const paginas = document.querySelectorAll('.conteudo-pagina');

        // Adiciona um evento de mudança no <select>
        seletor.addEventListener('change', () => {
            // Obtém o valor selecionado
            const valor = seletor.value;

            // Itera sobre todas as divs de conteúdo
            paginas.forEach(pagina => {
                // Mostra apenas a div correspondente
                if (pagina.classList.contains(valor)) {
                    pagina.classList.add('ativo');
                } else {
                    pagina.classList.remove('ativo');
                }
            });
        });

        // Mostra a primeira opção por padrão
        seletor.dispatchEvent(new Event('change'));
    </script>
</body>
</html>