<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../assets/css/preview/componentes.css">
    <link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div class="imagem-login">
            <img src="../assets/img/PrintSynk - Logo + Nome.png" alt="PrintSynk - Logo + Nome" width="80px">
        </div>
        <form action="home.html" class="formulario-login">
            <input type="text" placeholder="Usuário">
            <input type="password" placeholder="Senha">
            <button type="submit">Entrar</button>
        </form>
        <a href="" onclick="janelaEsqueceuSenha()">Esqueceu a senha?</a>
    </div>

    <script src="../assets/js/janela/janela_esqueceu_senha.js"></script>
</body>
</html>